    <div class="homepage">
        <div class="homepage-header">
            <div class=" homepage-header_logo">
                <img src="../../assets/image/Logo.png" alt="" class="homepage-header_logomain">
                <p class="homepage-header_logocontent"> HOA HẬU MÔI TRƯỜNG VIỆT NAM 2023</p>
            </div>
            <div class="homepage-header_siderbar">
                <p class="homepage-header_siderbarmain render-main">Trang chủ <span class="homepage-header_siderbarmain_line render-line"></span></p>
                <p class="homepage-header_siderbarmain">Thí Sinh <span class="homepage-header_siderbarmain_line"></span></p>
                <p class="homepage-header_siderbarmain">Giới Thiệu Cuộc Thi <span class="homepage-header_siderbarmain_line"></span></p>
                <p class="homepage-header_siderbarmain">Bảng Xếp Hạng <span class="homepage-header_siderbarmain_line"></span></p>
                <p class="homepage-header_siderbarmain">Nộp Điểm <span class="homepage-header_siderbarmain_line"></span></p>
                <p class="homepage-header_siderbarmain">Nhà Tài Trợ <span class="homepage-header_siderbarmain_line"></span></p>
            </div>
        </div>
        <div class="homepage-middel">
        </div>
        <div class="homepage-body">
            <div class="homepage-body_introducetvote">
             <div class="homepage-body_introducetvote_header">
                <p class="introducetvote-header_order">01</p>
                <p class="introducetvote-header_title">Giới Thiệu TVote</p>
                <p class="introducetvote-header_content">Là đơn vị độc quyền cung cấp nền tảng bình chọn cho giải thưởng "Thí sinh được yêu thích nhất" của Miss Environment Việt Nam 2023, TVote tự hào đồng hành cùng các thí sinh, góp phần mang đến một sân chơi công bằng, minh bạch, giúp nhan sắc Việt tỏa sáng. </p>
                <p class="introducetvote-header_main">CÔNG TY CỔ PHẦN TVOTE VIỆT NAM
                    <br>
                    <br>
                    Tổ hợp văn phòng Sunsquare - Số 579 Mai Đăng Chơn - Phường Hòa Xuân - Quận Cẩm Lệ - TP.Đà Nẵng.
                    <br>
                    <br>
                    Tvote – Bình chọn nhanh nhạy- Tin cậy người dùng
                </p>
                </div>
                <div class="homepage-body_introducetvote_footer">
                <i class="fa-solid fa-link introducetvote_footer-link"> <p class="link-cotent"> Website: https://bvote.com.vn/ </p></i>
                <i class="fa-solid fa-envelope introducetvote_footer-mail"> <p class="mail-cotent"> Email: bvote@bvote.vn </i>
                <i class="fa-solid fa-phone introducetvote_footer-phone"> <p class="phone-cotent"> Hotline: +84 86 966 1866</i>
                </div>
                <div class="homepage-body_introducetvote_img">
                    <img src="../../assets/image/imgintroduce.png" alt="" class="introducetvote_img">
                    <p class="haha"> </p>
                </div>
            </div>
            <div class="homepage-body_recentactive">
                <img src="../../assets/image/pinklogo.png" alt="" class="pinklogo">
                <div class="homepage-body_recentactive_title">
                    <p class="body-recentactive_title-number"> 02 </p>
                    <p class="body-recentactive_title-content"> Hoạt Động Gần Đây </p>
                </div>
                <div class="homepage-body_recentactive_content">
                    <div class="recentactive_content-main">
                        <div class="content-main_header">
                            <div class="content-main_header-candidatevote" >
                                <p class="header-candidatevote"> Thí Sinh Được Bình Chọn <span class="header-topcircle"> </span> <span class="header-bottomcircle"> </span> </p> 
                            </div>
                            <div class="content-main_header-numbervote">
                                <p class="header-numbervote"> Mã Bình Chọn <span class="header-topcircle"> </span> <span class="header-bottomcircle"> </span> </p>
                            </div>
                            <div class="content-main_header-personvote">
                                <p class="header-personvote">Người Bình Chọn <span class="header-topcircle"> </span> <span class="header-bottomcircle"> </span> </p>
                            </div>
                            <div class="content-main_header-timevote">
                                <p class="header-timevote">Thời Gian </p>  
                            </div>
                
                        </div>
                        <div class="content-main_body ">
                            <div class="main_body-inforcandidate" >
                                <p class="body-namevote">
                                    <img src="../../assets/image/imgcandidate.png" alt="" class="imgcandidate"> 
                                    <span class="thongtin">
                                        <span class="body-namevote_name">BÙI LÝ THIÊN HƯƠNG </span> 
                                        <br>
                                        <span class="body-namevote_code"> SBD:405</span>   
                                    </span>
                                    <span class="body-topcircle"> </span> 
                                    <span class=" body-bottomcircle"> </span> 
                                </p> 
                            </div>
                            <div class="main_body-infornumber">
                                <p class="body-numbervote"> 0123456789 <span class="body-topcircle"> </span> <span class="body-bottomcircle"> </span> </p>
                            </div>
                            <div class="main_body-inforperson">
                                <p class="body-personvote">0123456789 <span class="body-topcircle"> </span> <span class="body-bottomcircle"> </span> </p>
                            </div>
                            <div class="main_body-infortime">
                                <p class="body-timevote">2202/2023 10:30 </p>  
                            </div>
                        </div>

                        <div class="content-main_body ">
                            <div class="main_body-inforcandidate" >
                                <p class="body-namevote">
                                    <img src="../../assets/image/imgcandidate.png" alt="" class="imgcandidate"> 
                                    <span class="thongtin">
                                        <span class="body-namevote_name">BÙI LÝ THIÊN HƯƠNG </span> 
                                        <br>
                                        <span class="body-namevote_code"> SBD:405</span>   
                                    </span>
                                    <span class="body-topcircle"> </span> 
                                    <span class=" body-bottomcircle"> </span> 
                                </p> 
                            </div>
                            <div class="main_body-infornumber">
                                <p class="body-numbervote"> 0123456789 <span class="body-topcircle"> </span> <span class="body-bottomcircle"> </span> </p>
                            </div>
                            <div class="main_body-inforperson">
                                <p class="body-personvote">0123456789 <span class="body-topcircle"> </span> <span class="body-bottomcircle"> </span> </p>
                            </div>
                            <div class="main_body-infortime">
                                <p class="body-timevote">2202/2023 10:30 </p>  
                            </div>
                        </div>

                        <div class="content-main_body ">
                            <div class="main_body-inforcandidate" >
                                <p class="body-namevote">
                                    <img src="../../assets/image/imgcandidate.png" alt="" class="imgcandidate"> 
                                    <span class="thongtin">
                                        <span class="body-namevote_name">BÙI LÝ THIÊN HƯƠNG </span> 
                                        <br>
                                        <span class="body-namevote_code"> SBD:405</span>   
                                    </span>
                                    <span class="body-topcircle"> </span> 
                                    <span class=" body-bottomcircle"> </span> 
                                </p> 
                            </div>
                            <div class="main_body-infornumber">
                                <p class="body-numbervote"> 0123456789 <span class="body-topcircle"> </span> <span class="body-bottomcircle"> </span> </p>
                            </div>
                            <div class="main_body-inforperson">
                                <p class="body-personvote">0123456789 <span class="body-topcircle"> </span> <span class="body-bottomcircle"> </span> </p>
                            </div>
                            <div class="main_body-infortime">
                                <p class="body-timevote">2202/2023 10:30 </p>  
                            </div>
                        </div>

                        <div class="content-main_body ">
                            <div class="main_body-inforcandidate" >
                                <p class="body-namevote">
                                    <img src="../../assets/image/imgcandidate.png" alt="" class="imgcandidate"> 
                                    <span class="thongtin">
                                        <span class="body-namevote_name">BÙI LÝ THIÊN HƯƠNG </span> 
                                        <br>
                                        <span class="body-namevote_code"> SBD:405</span>   
                                    </span>
                                    <span class="body-topcircle"> </span> 
                                    <span class=" body-bottomcircle"> </span> 
                                </p> 
                            </div>
                            <div class="main_body-infornumber">
                                <p class="body-numbervote"> 0123456789 <span class="body-topcircle"> </span> <span class="body-bottomcircle"> </span> </p>
                            </div>
                            <div class="main_body-inforperson">
                                <p class="body-personvote">0123456789 <span class="body-topcircle"> </span> <span class="body-bottomcircle"> </span> </p>
                            </div>
                            <div class="main_body-infortime">
                                <p class="body-timevote">2202/2023 10:30 </p>  
                            </div>
                        </div>

                        <div class="content-main_body ">
                            <div class="main_body-inforcandidate" >
                                <p class="body-namevote">
                                    <img src="../../assets/image/imgcandidate.png" alt="" class="imgcandidate"> 
                                    <span class="thongtin">
                                        <span class="body-namevote_name">BÙI LÝ THIÊN HƯƠNG </span> 
                                        <br>
                                        <span class="body-namevote_code"> SBD:405</span>   
                                    </span>
                                    <span class="body-topcircle"> </span> 
                                    <span class=" body-bottomcircle"> </span> 
                                </p> 
                            </div>
                            <div class="main_body-infornumber">
                                <p class="body-numbervote"> 0123456789 <span class="body-topcircle"> </span> <span class="body-bottomcircle"> </span> </p>
                            </div>
                            <div class="main_body-inforperson">
                                <p class="body-personvote">0123456789 <span class="body-topcircle"> </span> <span class="body-bottomcircle"> </span> </p>
                            </div>
                            <div class="main_body-infortime">
                                <p class="body-timevote">2202/2023 10:30 </p>  
                            </div>
                        </div>

                        <div class="content-main_body ">
                            <div class="main_body-inforcandidate" >
                                <p class="body-namevote">
                                    <img src="../../assets/image/imgcandidate.png" alt="" class="imgcandidate"> 
                                    <span class="thongtin">
                                        <span class="body-namevote_name">BÙI LÝ THIÊN HƯƠNG </span> 
                                        <br>
                                        <span class="body-namevote_code"> SBD:405</span>   
                                    </span>
                                    <span class="body-topcircle"> </span> 
                                    <span class=" body-bottomcircle"> </span> 
                                </p> 
                            </div>
                            <div class="main_body-infornumber">
                                <p class="body-numbervote"> 0123456789 <span class="body-topcircle"> </span> <span class="body-bottomcircle"> </span> </p>
                            </div>
                            <div class="main_body-inforperson">
                                <p class="body-personvote">0123456789 <span class="body-topcircle"> </span> <span class="body-bottomcircle"> </span> </p>
                            </div>
                            <div class="main_body-infortime">
                                <p class="body-timevote">2202/2023 10:30 </p>  
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="homepage-body_listcandidates">
                <div class="homepage-body_listcandidates_header"> 
                <p class="listcandidates_header-number">03 </p>
                <p class="listcandidates_header-title">Danh Sách Thí Sinh  </p>
                <img src="../../assets/image/backgroundtopcadidate.png" alt="" class="backgroundtopcadidate">
                <img src="../../assets/image/backgroundbottomcadidate.png" alt="" class="backgroundbottomcadidate">
                </div>
                <div class="homepage-body_listcandidates_content">
                    <div class="listcandidates_content-main">
                        <img src="../../assets/image/imgcandidate.png" alt="" class="content-main_imgcandidate">
                        <p class="content-main_namecandidate">BÙI LÝ THIÊN HƯƠNG </p>
                        <p class="content-main_scorecandidate"> Điểm Bình Chọn: <span class="content-main_scorecandidate_main">3456789</span> </p>
                        <button class="content-main_buttoncandidate"> Bình Chọn </button>
                    </div>

                    <div class="listcandidates_content-main">
                        <img src="../../assets/image/imgthisinh.png" alt=""class="content-main_imgcandidate">
                        <p class="content-main_namecandidate">NGUYỄN KHÁNH VÂN </p>
                        <p class="content-main_scorecandidate"> Điểm Bình Chọn: <span class="content-main_scorecandidate_main">2456789</span> </p>
                        <button class="content-main_buttoncandidate"> Bình Chọn </button>
                    </div>

                    <div class="listcandidates_content-main">
                        <img src="../../assets/image/imgthisinh1.png" class="content-main_imgcandidate">
                        <p class="content-main_namecandidate">NGUYỄN MINH TÚ </p>
                        <p class="content-main_scorecandidate"> Điểm Bình Chọn: <span class="content-main_scorecandidate_main">57889</span> </p>
                        <button class="content-main_buttoncandidate"> Bình Chọn </button>
                    </div>

                    <div class="listcandidates_content-main">
                        <img src="../../assets/image/imgthisinh4.png" class="content-main_imgcandidate">
                        <p class="content-main_namecandidate">NGÔ THỊ QUỲNH MAI </p>
                        <p class="content-main_scorecandidate"> Điểm Bình Chọn: <span class="content-main_scorecandidate_main">12389</span> </p>
                        <button class="content-main_buttoncandidate"> Bình Chọn </button>
                    </div>



                    <div class="listcandidates_content-main">
                        <img src="../../assets/image/imgthisinh3.png" alt="" class="content-main_imgcandidate">
                        <p class="content-main_namecandidate">TRẦN THÙY TRÂM </p>
                        <p class="content-main_scorecandidate"> Điểm Bình Chọn: <span class="content-main_scorecandidate_main">11789</span> </p>
                        <button class="content-main_buttoncandidate"> Bình Chọn </button>
                    </div>

                    <div class="listcandidates_content-main">
                        <img src="../../assets/image/imgthisinh5.png" alt=""class="content-main_imgcandidate">
                        <p class="content-main_namecandidate">ĐỖ MỸ LINH </p>
                        <p class="content-main_scorecandidate"> Điểm Bình Chọn: <span class="content-main_scorecandidate_main">10789</span> </p>
                        <button class="content-main_buttoncandidate"> Bình Chọn </button>
                    </div>

                    <div class="listcandidates_content-main">
                        <img src="../../assets/image/imgthisinh6.png" class="content-main_imgcandidate">
                        <p class="content-main_namecandidate">NGUYỄN KỲ DUYÊN </p>
                        <p class="content-main_scorecandidate"> Điểm Bình Chọn: <span class="content-main_scorecandidate_main">10289</span> </p>
                        <button class="content-main_buttoncandidate"> Bình Chọn </button>
                    </div>

                    <div class="listcandidates_content-main">
                        <img src="../../assets/image/imgthisinh7.png" class="content-main_imgcandidate">
                        <p class="content-main_namecandidate">NGUYỄN HƯƠNG LY </p>
                        <p class="content-main_scorecandidate"> Điểm Bình Chọn: <span class="content-main_scorecandidate_main">10145</span> </p>
                        <button class="content-main_buttoncandidate"> Bình Chọn </button>
                    </div>



                    <div class="listcandidates_content-main">
                        <img src="../../assets/image/imgthisinh8.png" alt="" class="content-main_imgcandidate">
                        <p class="content-main_namecandidate">LÊ HOÀNG PHƯƠNG </p>
                        <p class="content-main_scorecandidate"> Điểm Bình Chọn: <span class="content-main_scorecandidate_main">9789</span> </p>
                        <button class="content-main_buttoncandidate"> Bình Chọn </button>
                    </div>

                    <div class="listcandidates_content-main">
                        <img src="../../assets/image/imgthisinh9.png" alt=""class="content-main_imgcandidate">
                        <p class="content-main_namecandidate">VÕ HOÀNG YẾN </p>
                        <p class="content-main_scorecandidate"> Điểm Bình Chọn: <span class="content-main_scorecandidate_main">8909</span> </p>
                        <button class="content-main_buttoncandidate"> Bình Chọn </button>
                    </div>

                    <div class="listcandidates_content-main">
                        <img src="../../assets/image/imgthisinh10.png" class="content-main_imgcandidate">
                        <p class="content-main_namecandidate">ĐỖ QUỲNH HOA </p>
                        <p class="content-main_scorecandidate"> Điểm Bình Chọn: <span class="content-main_scorecandidate_main">7889</span> </p>
                        <button class="content-main_buttoncandidate"> Bình Chọn </button>
                    </div>

                    <div class="listcandidates_content-main">
                        <img src="../../assets/image/imgthisinh11.png" class="content-main_imgcandidate">
                        <p class="content-main_namecandidate">PHẠM THỊ HƯƠNG </p>
                        <p class="content-main_scorecandidate"> Điểm Bình Chọn: <span class="content-main_scorecandidate_main">6289</span> </p>
                        <button class="content-main_buttoncandidate"> Bình Chọn </button>
                    </div>
                </div>
            </div>
            <div class="homepage-body_sponor">
                <div class="homepage-body_sponor-content">
                    <div class="homepage-body_sponor_contentheader">
                        <p class="sponor-header_number">04 </p>
                        <p class="sponor-header_title">Nhà Tài Trợ </p>
                        <img src="../../assets/image/logosponsor.png" alt="" class="logosponsor">
                    </div>
                    <div class="homepage-body_sponor_contentmain">
                        <img src="../../assets/image/sponsorbeauty.png" alt="" class="imgsponsorbeauty">
                        <img src="../../assets/image/sponsorlutos.png" alt="" class="imgsponsorlutos">
                        <img src="../../assets/image/sponsorminhkhang.png" alt="" class="imgsponsorminhkhang">
                        <img src="../../assets/image/sponsorminhnhat.png" alt="" class="imgsponsorminhnhat">
                    </div>
                </div> 

            </div>

        </div>
    
    </div> 
