
body
{
margin:0px;
}
.homepage
{
width:100%;
height: 950px;
}
.homepage-header
{
position: fixed;
width:100%;
height: 8%;
top:0;
right:0;
left:0;
bottom:0;
background-color: #1b0101;
z-index: 2;
}
.homepage-header_logomain
{
position: fixed;
width:10%;
height: 15%;
top:-3%;
left:7%;
}
.homepage-header_logocontent
{
position: fixed;
color:white;
top:1.5%;
left:15%;
opacity: 0.8;
}
.homepage-header_siderbar
{
position: fixed;
color:white;
display: flex;
justify-content: space-around;
left:59%;
top:1.5%;
width:38%;
}
.homepage-header_siderbar
{
position: fixed;
color:white;
display: flex;
justify-content: space-around;
left:55%;
top:1.5%;
width:42%;
}
.homepage-header_siderbarmain
{
color:white;
opacity: 0.7;
font-size: 18px;
position: relative;
cursor: pointer;
}
.homepage-header_siderbarmain_line
{
width:100%;
height: 15%;
border-radius: 2px;
background-color: white;
position: absolute;
top:190%;
display: none;
}
.homepage-header_siderbarmain:hover
{
opacity: 1;
}
.homepage-header_siderbarmain:hover .homepage-header_siderbarmain_line{
display: block;
background-color:#720505;
}
.render-main
{
opacity: 1;
}
.render-line
{
display: block;
background-color:#720505;
}
.homepage-middel
{
width:100%;
height: 100%;
background-image: url(../../assets/image/backgroundqueen.png);
background-repeat: no-repeat;
background-size: contain;
position: absolute;
top:8%;
}
.homepage-body
{
position: relative;
top:84%;
width:100%;
height: 2500px;
background-color: #f3efef;
}
.homepage-body_introducetvote
{
position: absolute;
top:5%;
left:20%;
width:60%;
height: 25%;
background-color: #e4c7c7;
border-radius: 16px;
box-shadow: 0px 0px 15px 2px #cfa4a4;
}
.introducetvote-header_order
{
position: absolute;
top:5%;
left:5%;
font-size: 120px;
margin: 0;
opacity: 0.6;
color:#a56f6f
}
.introducetvote-header_title
{
position: absolute;
top:9%;
left:12%; 
font-size: 80px;
z-index: 2;
margin: 0;
color:black;
opacity: 0.8;
}
.introducetvote-header_content
{
position: absolute;
top:25%;
left:12%; 
font-size: 18px;
width:45%;
text-align: justify;
}
.introducetvote-header_main
{
position: absolute;
top:42%;
left:12%; 
width:45%;
font-size: 18px;
text-align: justify;
}
.homepage-body_introducetvote_footer
{
display: grid;
position: absolute;
top:66%;
left:12%; 
width:45%;
}
.introducetvote_footer-link
{
margin-top: 3%;
color:blue;
font-size: 20px;
}
.introducetvote_footer-mail
{
margin-top: 3%;
color:red;
font-size: 20px;
}
.introducetvote_footer-phone
{
margin-top: 3%;
color:green;
font-size: 20px;
}
.link-cotent
{
font-size: 14px;
color:black;
display: inline-block;
margin-left: 1%;
}
.mail-cotent
{
font-size: 14px;
color:black;
display: inline-block;
margin-left: 1%;
}
.phone-cotent
{
font-size: 14px; 
color:black;
display: inline-block;
margin-left: 1%;
}
.homepage-body_introducetvote_img
{
position: absolute;
top:-12%;
left:48%; 
}
.introducetvote_img
{
width:140%;
height: 60%;
}
.homepage-body_recentactive
{
position: absolute;
top:40%;
width:100%;
height: 30%;
background-repeat: no-repeat;
background-size: 30% 100%;
}
.pinklogo
{
position: absolute;
width:35%;
left:-2%;
top:-27%;
opacity: 0.4;
}
.homepage-body_recentactive_title
{
position: absolute;
width:50%;
bottom: 100%;
left: 20%;
}
.body-recentactive_title-number
{
font-size: 120px;
margin-top:0px;
margin-bottom:0px;
color:#a56f6f;
opacity: 0.6;

}
.body-recentactive_title-content
{
position: absolute;
width:70%;
top:18%;
left:9%;
font-size: 80px;
margin-top:0px;
margin-bottom:0px;
opacity: 0.8;
}
.homepage-body_recentactive_content
{
position: absolute;
top:5%;
left:20%;
width:60%;
height: 100%;
background-color: #fcfcfc;
border-radius: 20px;
box-shadow: 0px 0px 10px 5px #d4d1d1;
}
.recentactive_content-main
{
position: absolute;
left:5%;
top:4.5%;
width:90%;
height: 90%;
border-radius: 20px;
}
.content-main_header
{
background-color: #b88282;
height: 10%;
display: flex;
justify-content: space-around;
padding-left: 2%;
padding-right: 2%;
border-radius: 12px;
text-align: center;

}
.content-main_header-candidatevote
{
position: relative;
width:35%;
margin: auto;
border-right:1px dashed white;
}
.content-main_header-numbervote
{ 
position: relative;
width:20%;
margin: auto;
border-right:1px dashed white;
}
.content-main_header-personvote
{
position: relative;
width:25%;
margin: auto;
border-right:1px dashed white;
}
.content-main_header-timevote
{
position: relative;
width:17%;
margin: auto;
}
.header-candidatevote,.header-numbervote,.header-personvote, .header-timevote
{
font-size: 18px;
font-weight: 600;
color:#200404
}
.header-topcircle
{
display: block;
position: absolute;
background-color:white;
width:15px;
height: 15px;
border-radius: 50%;
top:-25%;
right:-8px;
}
.header-bottomcircle
{
display: block;
position: absolute;
background-color:white;
width:15px;
height: 15px;
border-radius: 50%;
bottom:-25%;
right:-8px;
}
.content-main_body
{
background-color: #ebd7d7;
height: 14%;
display: flex;
justify-content: space-around;
padding-left: 2%;
padding-right: 2%;
border-radius: 12px;
text-align: center; 
margin-top: 1%;
}
.main_body-inforcandidate
{
position: relative;
width:35%;
margin: auto;
border-right:1px dashed white;   
}
.imgcandidate
{
width: 70px;
height: 70px;
border-radius: 50%;
margin: auto;
margin-top: -7%;
margin-left: -3%;
border: 2px solid #a56f6f;
}
.thongtin
{
margin: auto;
margin-top: -2%;
margin-left: -16%;
text-align: left;
}
.body-namevote_name
{
font-size: 18px;
color:#570404;
}
.body-namevote_code
{
color:#570404;
font-size: 18px;
}
.main_body-infornumber
{
position: relative;
width:20%;
margin: auto;
border-right:1px dashed white;
}
.main_body-inforperson
{
position: relative;
width:25%;
margin: auto;
border-right:1px dashed white;
}
.main_body-infortime
{
position: relative;
width:17%;
margin: auto;
}
.body-namevote
{
height: 25px;
font-size: 16px;
font-weight: 600;
display: flex;
flex-wrap: wrap;
}
.body-timevote
{
font-size: 16px;
font-weight: 600;
color:#570404
}
.body-numbervote, .body-personvote
{
font-size: 18px;
font-weight: 600;
color:#570404
}
.body-topcircle
{
display: block;
position: absolute;
background-color:white;
width:15px;
height: 15px;
border-radius: 50%;
top:-47%;
right:-8px;
}
.body-bottomcircle
{
display: block;
position: absolute;
background-color:white;
width:15px;
height: 15px;
border-radius: 50%;
bottom:-47%;
right:-8px;
}
.homepage-body_listcandidates
{
position: absolute;
top:75%;
width:100%;
height: 70%;
background-color: #f3efef;
}
.homepage-body_listcandidates_header
{

}
.listcandidates_header-number
{
position: absolute;
font-size: 120px;
color:#a56f6f;
opacity: 0.6;
margin-top: 0px;
margin-bottom: 0px;
left:20%;
}
.listcandidates_header-title
{
position: absolute;
font-size: 80px;
opacity: 0.8;
margin-top: 0px;
margin-bottom: 0px;
top:1.5%;
left:24%;
}
.backgroundtopcadidate
{
width:30%;
top:-5%;
right:0%;
position: absolute;
z-index: 1;
}
.backgroundbottomcadidate
{
width:30%;
top:70%;
left:-7%;
position: absolute;
z-index: 1;
}
.homepage-body_listcandidates_content
{
position: absolute;
top:10%;
left:20%;
width:58%;
height: 85%;
background-color: #fcfcfc;
border-radius: 20px;
box-shadow: 0px 0px 10px 5px #d4d1d1;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
padding-left: 1%;
padding-right: 1%;
padding-bottom: 1%;
padding-top: 1.5%;
}
.listcandidates_content-main
{
position: relative;
margin: 1%;  
margin-left: 1.2%;
margin-right: 1.2%;
width:22%;
height: 28% ;
background-color: #ebd7d7;
border-radius: 12px;
}
.content-main_imgcandidate
{
width:100%;
height:65%;
border-top-left-radius: 12px;
border-top-right-radius: 12px;
}
.listcandidates_content-main:hover
{
box-shadow: 0px 0px 10px 5px #cfa4a4; 
}
.content-main_namecandidate
{
position: absolute;
top:66%;
left:4%;
font-weight: 600;
font-size: 18px;
}
.content-main_scorecandidate
{
position: absolute;
top:74%;
font-size: 16px;
color:#727171;
left:4%;
}
.content-main_scorecandidate_main
{
font-weight: 600;
font-size: 20px;
color:#720505;
}
.content-main_buttoncandidate
{
position: absolute;
top:88%;
left:10%;
width:80%;
height: 7.5%;
font-size: 15px;
border-radius: 4px;
box-shadow: 0px 0px 5px 2px #d4d1d1;
border: none;
cursor: pointer;
font-weight: 600;
}
.content-main_buttoncandidate:hover
{
background-color:#a56f6f;
color:white;
box-shadow: 0px 0px 5px 2px #ffffff;
font-weight: 600;
}
.homepage-body_sponor
{
position: absolute;
top:145%;
width:100%;
height: 22%;
padding:0px;
background-color: #f3efef;    
}
.homepage-body_sponor-content
{
position: absolute;
width: 99%;
height: 100%;
left:0.5%;
border-radius: 20px;
}
.homepage-body_sponor_contentheader
{

}
.sponor-header_number
{
position: absolute;
font-size: 120px;
margin: 0px;
color:#a56f6f;
opacity: 0.6;
margin-top: 0px;
margin-bottom: 0px;
left:20%;
top:4%;
}
.sponor-header_title
{
position: absolute;
font-size: 80px;
opacity: 0.8;
margin-top: 0px;
margin-bottom: 0px;
top:8%;
left:24.5%;
z-index: 1;
}
.logosponsor
{
position: absolute;
font-size: 80px;
opacity: 0.8;
margin-top: 0px;
margin-bottom: 0px;
top:-30%;
left:32%;   
opacity: 0.4;
}
.imgsponsorlutos
{
position: absolute;
top:40%;
left:10%;
width: 18%;
height: 56%;
border-radius: 20px;
box-shadow: 0px 0px 10px 5px #cfa4a4;
cursor: pointer;
}
.imgsponsorlutos:hover
{
box-shadow: 0px 0px 10px 5px #720505; 
}
.imgsponsorbeauty
{
position: absolute;
top:40%;
left:32%;
width: 18%;
height: 56%;
border-radius: 20px;
box-shadow: 0px 0px 10px 5px #cfa4a4;
cursor: pointer;
}
.imgsponsorbeauty:hover
{
box-shadow: 0px 0px 10px 5px #720505;
}
.imgsponsorminhkhang
{
position: absolute;
top:40%;
left:54%;
width: 18%;
height: 56%;
border-radius: 20px;
box-shadow: 0px 0px 10px 5px #cfa4a4;
cursor: pointer;
}
.imgsponsorminhkhang:hover
{
box-shadow: 0px 0px 10px 5px #720505; 
}
.imgsponsorminhnhat
{
position: absolute;
top:40%;
left:76%;
width: 18%;
height: 56%;
border-radius: 20px;
box-shadow: 0px 0px 10px 5px #cfa4a4;
cursor: pointer;
}
.imgsponsorminhnhat:hover
{
box-shadow: 0px 0px 10px 5px #720505;
}