    <div class="homepage">
        <div class="homepage-header">
            <div class=" homepage-header_logo">
                <img src="../../assets/image/Logo.png" alt="" class="homepage-header_logomain">
                <p class="homepage-header_logocontent"> HOA HẬU MÔI TRƯỜNG VIỆT NAM 2023</p>
            </div>
            <div class="homepage-header_siderbar">
                <p class="homepage-header_siderbarmain render-main">Trang chủ <span class="homepage-header_siderbarmain_line render-line"></span></p>
                <p class="homepage-header_siderbarmain">Thí Sinh <span class="homepage-header_siderbarmain_line"></span></p>
                <p class="homepage-header_siderbarmain">Giới Thiệu Cuộc Thi <span class="homepage-header_siderbarmain_line"></span></p>
                <p class="homepage-header_siderbarmain">Bảng Xếp Hạng <span class="homepage-header_siderbarmain_line"></span></p>
                <p class="homepage-header_siderbarmain">Nộp Điểm <span class="homepage-header_siderbarmain_line"></span></p>
                <p class="homepage-header_siderbarmain">Nhà Tài Trợ <span class="homepage-header_siderbarmain_line"></span></p>
            </div>
        </div>
        <div class="homepage-middel">
        </div>
        <div class="homepage-body">
            <div class="homepage-body_introducetvote">
             <div class="homepage-body_introducetvote_header">
                <p class="introducetvote-header_order">01</p>
                <p class="introducetvote-header_title">Giới Thiệu TVote</p>
                <p class="introducetvote-header_content">Là đơn vị độc quyền cung cấp nền tảng bình chọn cho giải thưởng "Thí sinh được yêu thích nhất" của Miss Environment Việt Nam 2023, TVote tự hào đồng hành cùng các thí sinh, góp phần mang đến một sân chơi công bằng, minh bạch, giúp nhan sắc Việt tỏa sáng. </p>
                <p class="introducetvote-header_main">CÔNG TY CỔ PHẦN TVOTE VIỆT NAM
                    <br>
                    <br>
                    Tổ hợp văn phòng Sunsquare - Số 579 Mai Đăng Chơn - Phường Hòa Xuân - Quận Cẩm Lệ - TP.Đà Nẵng.
                    <br>
                    <br>
                    Tvote – Bình chọn nhanh nhạy- Tin cậy người dùng
                </p>
                </div>
                <div class="homepage-body_introducetvote_footer">
                <i class="fa-solid fa-link introducetvote_footer-link"> <p class="link-cotent"> Website: https://bvote.com.vn/ </p></i>
                <i class="fa-solid fa-envelope introducetvote_footer-mail"> <p class="mail-cotent"> Email: bvote@bvote.vn </i>
                <i class="fa-solid fa-phone introducetvote_footer-phone"> <p class="phone-cotent"> Hotline: +84 86 966 1866</i>
                </div>
                <div class="homepage-body_introducetvote_img">
                    <img src="../../assets/image/thien.png" alt="" class="introducetvote_img">
                    <p class="haha"> </p>
                </div>
            </div>
            <div class="homepage-body_recentactive">
                <img src="../../assets/image/pinklogo.png" alt="" class="pinklogo">
                <div class="homepage-body_recentactive_content">

                </div>
            </div>
            <div class="homepage-body_listcandidates">

            </div>
            <div class="homepage-body_sponor">

            </div>

        </div>
    
    </div> 
