
body
{
margin:0px;
}
.homepage
{
width:100%;
height: 950px;
}
.homepage-header
{
position: fixed;
width:100%;
height: 8%;
top:0;
right:0;
left:0;
bottom:0;
background-color: #1b0101;
z-index: 2;
}
.homepage-header_logomain
{
position: fixed;
width:10%;
height: 15%;
top:-3%;
left:7%;
}
.homepage-header_logocontent
{
position: fixed;
color:white;
top:1.5%;
left:15%;
opacity: 0.8;
}
.homepage-header_siderbar
{
position: fixed;
color:white;
display: flex;
justify-content: space-around;
left:55%;
top:1.5%;
width:42%;
}
.homepage-header_siderbarmain
{
color:white;
opacity: 0.7;
font-size: 18px;
position: relative;
cursor: pointer;
}
.homepage-header_siderbarmain_line
{
width:100%;
height: 15%;
border-radius: 2px;
background-color: white;
position: absolute;
top:190%;
display: none;
}
.homepage-header_siderbarmain:hover
{
opacity: 1;
}
.homepage-header_siderbarmain:hover .homepage-header_siderbarmain_line{
display: block;
background-color:#720505;
}
.render-main
{
opacity: 1;
}
.render-line
{
display: block;
background-color:#720505;
}
.homepage-middel
{
width:100%;
height: 100%;
background-image: url(../../assets/image/backgroundqueen.png);
background-repeat: no-repeat;
background-size: contain;
position: absolute;
top:8%;
}
.cadidate-content
{
position: absolute;
top:83%;
width:100%;
height: 1860px;
background-color:#f3efef;
}
.cadidate-content_header
{
width:100%;
height: 10%;
margin-top: 2%;
position: relative;
}
.engname
{
 font-size: 320%;
 font-weight: 600;
 color:#720505;
 text-align: center;
 position: absolute;
 left: 38%;
 text-shadow: 3px 2px 3px #1d0101
}
.vietname
{
 font-size: 370%;
 font-weight: 600;
 color:#720505;
 text-align: center;
 top:30%;
 left: 25%;
 position: absolute;
 text-shadow: 3px 2px 3px #1d0101
}
.backgroundright
{
    position: absolute;
    top:-35%;
    right:12%;
    width:20%;
    height: 300px;
    opacity: 0.5;

}
.backgroundleft
{
    position: absolute;
    left:15%;
    top:8%;
    width:30%;
    height: 300px
}
.cadidate-content_main
{
display: flex; 
flex-wrap: wrap;
height: 50%;
padding-right: 5%; 
}
.content-main_candidate
{
position: relative;   
margin-top:4% ;
margin-left: 5%;
width:20%;
height:39% ;
background-color: #1b0101;
box-shadow: 0px 0px 10px 5px #720505;
border-radius: 12px;
}
.content-main_imgcandidate
{
position: absolute;
top:5%;
left:4.5%;
width:100%;
height: 100%; 
border-radius: 12px;   
}
.lableleft
{
position: absolute;
top:80%;
left:2%;
width:40%;
height: 8%;
border-top-left-radius:8px ;
border-bottom-right-radius:8px ;
background-color: #f7b4b4;
opacity: 0.8;
}
.lableleft-name
{
position: absolute;
top:86%;
left:3.5%;
display: block;
color: #000000;
font-size: 14px;
font-weight: 600;
opacity: 1;
z-index: 3;
}
.addlableleft
{
position: absolute;
top:88%;
left:2%;
border-top: 12px solid rgb(224, 111, 111);
border-left: 10px solid transparent;
opacity: 0.8;
}
.blackground
{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    opacity: 0.9;
    z-index: 4;
    display: none;
}
.cadidate-content_information
{
    width:60%;
    height: 60%;
    background-color:#f5dede;
    display: none;
    z-index: 5;
    position: fixed;
    top: 25%;
    left: 20%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 5px #720505;
}
.add
{
    display: block;
}
.candidateinfor1
{
    width:45%;
    height:55%;
    margin-top: 3%;
    margin-left: 5%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 5px #724242;
    position: absolute;
    z-index: 2;
}
.header
{
    position: absolute;
    width:100%;
    height: 20%;
    background-color: #1b0101;
    top:0px;
    border-top-left-radius:16px;
    border-top-right-radius:16px;
}
.introduce
{
width: 85%;
position: absolute;
}
.introduce-header
{
    font-size: 30px;
    margin-top: 39%;
    margin-left: 7%;  
    color:#582020;
    font-weight: 600;
    text-shadow: 1px 1px 3px #1d0101;

}
.introduce-header_main
{
    font-size: 16px;
    line-height: 30px;
    margin-left: 7%;  
    margin-top: -2%;
    text-align: justify;
}
.infor
{
    width:20%;
}
.infor-header
{
    width:100%;
    position: absolute;
    left: 55%;
    top:3%;
}
.infor-header_name
{
    font-size: 26px;
    font-weight: 600;
    color:white

}
.infor-header_code
{
    font-size: 20px;
    font-weight: 600;
    color:white;
    top:62%;
    left: 3%;
    position: absolute;
}
.infor-header_age
{
    font-size: 20px;
    font-weight: 600;
    color:white;
    top:62%;
    left:13%;
    position: absolute;
}
.infor-main
{
    width:30%;
    position: absolute;
    top:24%;
    left:55%
}
.infor-main_header
{
    font-size: 24px;
    top:3%;
    left: 3%; 
    color:#582020;
    text-shadow: 1px 1px 3px #1d0101; 
    position: absolute; 
}
.infor-main_weight
{
    font-size: 18px;
    color:black;
    margin-top: 25%;
    margin-left: 5%;
}
.infor-main_height
{
    font-size: 18px;
    color:black;
    margin-left: 5%;
}
.infor-main_body
{
    font-size: 18px;
    color:black;
    margin-left: 5%;
}
.infor-button
{
    width:10%;
    height:6%;
    border: none;
    background-color: #f3caca;
    position: absolute;
    top:60%;
    left:65%;
    border-radius: 6px;
    box-shadow: 0px 0px 5px 3px #af6060;
    cursor: pointer;
}
.infor-button:hover
{
    box-shadow: 0px 0px 5px 3px #6d2828;
    color:white;
    font-weight: 600;
    background-color: #f57d7d;
}
.candidate-footer
{
    width:100%;
    height:14%;
    background-color: #1b0101;;
    position: absolute;
    top:262%;
    opacity: 0.9;
}
.candidate-footer_content
{

}
.backgrounfoter
{
    width:25%;
    margin-left: 10%;
}
.candidate-footer_main
{
    position: absolute;
    top:24%;
    left:40%;
    color:white;
    font-size: 20px;
    font-weight: 600;
}
.candidate-footer_detail
{
    position: absolute;
    top:55%;
    left:42%;
    color:white;
    font-size: 12px;
}
.candidate-footer_line
{
    position: absolute;
    width: 0.05%;
    height: 40%;
    top:24%;
    left:69%;
    background-color: white;
    font-size: 16px;
}
.fa-envelope
{
    position: absolute;
    top:26%;
    left:70%;
    color: white;
    font-size: 16px;
}
.fa-phone
{
    position: absolute;
    top:45%;
    left: 70%;
    color: white;
    font-size: 16px;
}
.fa-facebook
{
    position: absolute;
    top:65%;
    left:70%;
    color: white;
    font-size: 16px;
}
.detail-infor
{
    margin-left:10px;
}

