<div class="homepage">
    <div class="homepage-header">
        <div class=" homepage-header_logo">
            <img src="../../assets/image/Logo.png" alt="" class="homepage-header_logomain">
            <p class="homepage-header_logocontent"> HOA HẬU MÔI TRƯỜNG VIỆT NAM 2023</p>
        </div>
        <div class="homepage-header_siderbar">
            <p class="homepage-header_siderbarmain">Trang chủ <span class="homepage-header_siderbarmain_line"></span></p>
            <p class="homepage-header_siderbarmain render-main">Thí Sinh <span class="homepage-header_siderbarmain_line render-line"></span></p>
            <p class="homepage-header_siderbarmain">Giới Thiệu Cuộc Thi <span class="homepage-header_siderbarmain_line"></span></p>
            <p class="homepage-header_siderbarmain">Bảng Xếp Hạng <span class="homepage-header_siderbarmain_line"></span></p>
            <p class="homepage-header_siderbarmain">Nộp Điểm <span class="homepage-header_siderbarmain_line"></span></p>
            <p class="homepage-header_siderbarmain">Nhà Tài Trợ <span class="homepage-header_siderbarmain_line"></span></p>
        </div>
    </div>
    <div class="homepage-middel">
    </div>
    <div class="cadidate-content">
        <!-- <img src="../../assets/image/pinklogo.png" alt="" class="pinklogo"> -->
        <div class="cadidate-content_main">
            <img src="../../assets/image/imgthisinh.png" alt="" class="content-main_candidate">
            <img src="../../assets/image/imgthisinh1.png" alt="" class="content-main_candidate">
            <img src="../../assets/image/imgthisinh3.png" alt="" class="content-main_candidate"> 
            <img src="../../assets/image/imgthisinh4.png" alt="" class="content-main_candidate">
            <img src="../../assets/image/imgthisinh5.png" alt="" class="content-main_candidate">
            <img src="../../assets/image/imgthisinh6.png" alt="" class="content-main_candidate">
            <img src="../../assets/image/imgthisinh7.png" alt="" class="content-main_candidate">
            <img src="../../assets/image/imgthisinh8.png" alt="" class="content-main_candidate">
            <img src="../../assets/image/imgthisinh9.png" alt="" class="content-main_candidate" >
            <img src="../../assets/image/imgthisinh10.png" alt="" class="content-main_candidate" >
            <img src="../../assets/image/imgthisinh11.png" alt="" class="content-main_candidate">
            <img src="../../assets/image/imgcandidate.png" alt="" class="content-main_candidate">


        </div>

    </div>
</div>