<div class="login">
    <div class="layer">
    </div>
    <div class="login-content"> 
        <div class="login-content_form">
            <form class="form">
                <p class=" form-header"> ĐĂNG NHẬP </p>
                <input type="text" name="username" placeholder="USERNAME" autocomplete="off" class="form-username">
                <input type="password" name="password" placeholder="PASSWWORD" autocomplete="off" class="form-password">
                <button class="form-button"> Đăng Nhập</button>
                <i class="fa-brands fa-google"></i>
                <span class="form-icon_google">Đăng Nhập với Google</span>
                <i class="fa-brands fa-facebook"></i>
                <span class="form-icon_facebook">Đăng Nhập với Facebook</span>
            </form>
        </div>
        <div class="line"> </div>
        <div class="login-content_img">
            <img src="../../assets/image/imglogin.png" alt="" class="login-content_imgmain">
        </div>
    </div>
</div>