<div class="homepage">
    <div class="homepage-header">
        <div class=" homepage-header_logo">
            <img src="../../assets/image/Logo.png" alt="" class="homepage-header_logomain">
            <p class="homepage-header_logocontent"> HOA HẬU MÔI TRƯỜNG VIỆT NAM 2023</p>
        </div>
        <div class="homepage-header_siderbar">
            <p class="homepage-header_siderbarmain">Trang chủ <span class="homepage-header_siderbarmain_line"></span></p>
            <p class="homepage-header_siderbarmain">Thí Sinh <span class="homepage-header_siderbarmain_line"></span></p>
            <p class="homepage-header_siderbarmain render-main">Giới Thiệu Cuộc Thi <span class="homepage-header_siderbarmain_line render-line"></span></p>
            <p class="homepage-header_siderbarmain">Bảng Xếp Hạng <span class="homepage-header_siderbarmain_line"></span></p>
            <p class="homepage-header_siderbarmain">Nộp Điểm <span class="homepage-header_siderbarmain_line"></span></p>
            <p class="homepage-header_siderbarmain">Nhà Tài Trợ <span class="homepage-header_siderbarmain_line"></span></p>
        </div>
    </div>
    <div class="homepage-middel">
    </div>
    <div class="competition-content">
        <div class="cadidate-content_header">
            <p class="engname">MISS ENVIRONMENT</p>
            <p class="vietname">HOA HẬU MÔI TRƯỜNG VIỆT NAM</p>
            <!-- <img src="../../assets/image/backgroundleft.png" alt="" class="backgroundleft">-->
            <img src="../../assets/image/logosponsor.png" alt="" class="backgroundright"> 
        </div>
        <img src="../../assets/image/competitionbg.png" alt="" class="competitionbg">
        <div class="cadidate-content_main">
            <div class="cadidate-content_main_header">
                <p class="cadidate-content_main_header_content">
                    Là cổng bình chọn chính thức của cuộc thi Miss Grand Việt Nam 2022, Bvote tự hào mang đến giải pháp bình chọn trực tuyến công bằng, minh bạch cho các thí sinh.
                </p>
                <p class="header-content_main">
                    Sau thành công của những đại diện Việt Nam: Huyền My, Phương Nga , Kiều Loan, Ngọc Thảo và đặc biệt là chiếc vương miện của Nguyễn Thúc Thùy Tiên tại Miss Grand International 2021, cuộc thi Hoa hậu Hòa bình Việt Nam 2022 (Miss Grand Vietnam 2022) chính thức được khởi động với mong muốn tìm ra Đại diện Việt Nam tham dự Miss Grand International 2022 tại Bali, Indonesia vào ngày 25 tháng 10 năm 2022.
                </p>
                <p class="header-content_main">
                    Cổng bình chọn Bvote sẽ đồng hành cùng cuộc thi để tìm kiếm ra những gương mặt không chỉ nổi bật về ngoại hình, trí tuệ mà còn tràn đầy tinh thần nhiệt huyết để mang về chiếc vương miện danh giá Miss Grand International thứ 2 cho Việt Nam.
                </p>
                <p class="header-content_main">
                    Việc hoạt động dựa trên công nghệ chuỗi khối của Blockchain giúp giải pháp bình chọn của Bvote sở hữu những ưu điểm vượt trội về tính an toàn, bảo mật, đem lại kết quả công khai và minh bạch nhất. Thay vì sử dụng phương thức truyền thống bằng tin nhắn, khán giả sẽ ủng hộ cho thí sinh mình yêu thích nhất thông qua hệ thống bình chọn trên Website. Giải pháp này cho phép mọi người theo dõi kết quả liên tục, trực tiếp trên hệ thống, một điều mà các hình thức cũ không làm được. Không chỉ loại bỏ nguy cơ gian lận, Bvote còn mang đến trải nghiệm bình chọn mới lạ, tiện lợi và dễ sử dụng. Nhất là khi giải pháp bình chọn của Bvote còn kết hợp cùng các ví điện tử uy tín để đảm bảo mức độ bảo mật cao và giảm thiểu tối đa tình trạng hack vote.
                </p>
                <p class="header-content_main sold">
                    Cách thức bình chọn gồm 4 bước:
                </p>
                <p class="header-content_main">
                    - Bước 1:   Truy cập website: https://Missgrandvietnam.bvote.vn/. Tại phần Danh sách thí sinh, click chi tiết vào thí sinh muốn bình chọn
                </p>
                <p class="header-content_main">
                    - Bước 2:   Click Bình chọn Momo. Hệ thống sẽ trả về 1 mã QR để bình chọn thí sinh
                </p>
                <p class="header-content_main">
                    - Bước 3:   Truy cập vào ví MoMo, tiến hành quét mã QR để thanh toán (tương đương bình chọn).
                </p>
                <p class="header-content_main">
                    - Bước 4:   MoMo check thanh toán thành công, hệ thống Bvote sẽ tiến hành lưu trữ kết quả bình chọn. Phí bình chọn theo gói lựa chọn và 1 lượt bình chọn qua Momo tương đương với số điểm theo gói bình chọn mà khán giả đã chọn. Lưu ý sẽ không giới hạn số lượt bình chọn và số thí sinh bình chọn.
                </p>
                <p class="header-content_main">
                    Bvote là một trong những đối tác trong lĩnh vực công nghệ của cuộc thi Miss Grand Việt Nam 2022, hỗ trợ các công tác bình chọn cho các thí sinh tại cuộc thi. Đồng thời, việc ứng dụng công nghệ tiên tiến nhất của Bvote sẽ góp phần chuyên nghiệp hóa, nâng tầm cho cuộc thi.
                </p>
                <p class="header-content_main sold">
                    Cơ cấu giải thưởng:
                </p>
                <p class="header-content_main">
                    Thí sinh có lượt bình chọn cao nhất trên hệ thống bình chọn Bvote sẽ nhận giải "Thí sinh được yêu thích nhất" của cuộc thi Miss Grand Việt Nam 2022 và được đặc cách vào thẳng Top 10 chung cuộc.

Cổng bình chọn của Bvote sẽ chính thức được mở vào 9h30 ngày 15/09/2022 và sẽ kết thúc vào <span class="sold">21h30 ngày 15/05/2023.</span> Kết quả thí sinh được yêu thích nhất và có cơ hội đi tiếp cùng top 10 sẽ được công bố vào đêm chung kết diễn ra vào ngày 01/10/2022. Hãy cùng bình chọn để gương mặt mà bạn yêu thích có cơ hội toả sáng và đến gần hơn với đến chiếc vương miện danh giá của Miss Grand Việt Nam 2022.
                </p>
                <img src="../../assets/image/competitionlogo.png" alt="" class="competitionlogo">
            </div>
        </div>
    </div>
    <div class="candidate-footer">
        <div class="candidate-footer_content">
            <img src="../../assets/image/backgrounfoter.png" alt="" class="backgrounfoter">
            <p class="candidate-footer_main">Công Ty TNHH Kinh Doanh Thương Mại Mai Vàng</p>
            <p class="candidate-footer_detail">Địa Chỉ: số 579 Mai Đăng Chơn, Hòa Quý, Ngũ Hành Sơn, Đà Nẵng</p>
            <p class="candidate-footer_line"></p>
            <i class="fa-solid fa-envelope"> <span class="detail-infor">missenvironment@gmail.com </span></i>
            <i class="fa-solid fa-phone"><span  class="detail-infor">02345789</span></i>
            <i class="fa-brands fa-facebook"><span  class="detail-infor">missenvironment</span></i>
        </div>
    </div>
<div>